BACKUP_OWNER="gmailbackup"
DOMAIN="futurice.com"

# Email of the Service Account
SERVICE_ACCOUNT_EMAIL = '123456781877-abcdefghljrekdjrh032ae9np3f5sru7i@developer.gserviceaccount.com'

# Path to the Service Account's Private Key file
SERVICE_ACCOUNT_PKCS12_FILE_PATH = '213ce08fefffffca31v03733fa91e70264ae470f-privatekey.p12'

# Path for ZFS. Don't add leading or trailing slashes. Per-service and per-user ZFS volumes are created under this path.
ZPOOL_ROOT_PATH="storage"

# List of users to exclude from calendar download: (required field, make empty if not needed)
CALENDAR_IGNORE_USERS = ["calendar.admin@futurice.com"]
